#!/usr/bin/env bash
use flake

# see https://github.com/python-poetry/poetry/issues/6354#issue-1360127928
VIRTUAL_ENV="$PWD/.venv"
if [ -d "$VIRTUAL_ENV" ]; then
  export VIRTUAL_ENV
  export PATH="$VIRTUAL_ENV/bin:$PATH"
  # note that direnv can't set the shell prompt, $PS1, since PS1 is handled
  # specially by different shells. See https://github.com/direnv/direnv/wiki/PS1
else 
  echo "WARNING: No .venv found"
fi
